@charset "utf-8";

/* 初始化 */
@import url("normalize.css");
@import url("webfont.css");
@import url('https://fonts.font.im/css?family=Montserrat:300,400,500,600');
@import url('https://fonts.font.im/css?family=Open+Sans:400,600,700,800');

body {
    background: #343a40;
    font-family: 'Open Sans', sans-serif;
}

main {
    margin-top: 80px;
}

.navbar .avatar {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin-right: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
}

.info {
    color: rgba(255,255,255,.5);
    font-size: 14px;
}

.booklist .content {
    background: #fff;
    padding: 20px 20px 10px 20px;
    margin-bottom: 30px;
}

.booklist .content .date {
    margin: 10px 0 0 0;
    font-size: 14px;
    font-weight: 600;
    color: #999;
}

.booklist .content h2 {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}
.booklist .content p.btns{
    margin-bottom:5px;
}
.booklist .content .bookurl_test, .booklist .content .bookurl_real{
    width: 100%;
    margin-bottom:5px;
}
.booklist .content .card-body{
    padding:5px;
}
.btn-link, .btn-link:hover{
    width: 100%;
    color:#ec7e89;
}
.cover_thumb {
    height: 220px;
    padding: 0;
}

footer p {
    color: #ccc;
    text-align: center;
    font-size: 12px;
}

.fancybox-slide--iframe .fancybox-content{
    max-width: 375px;
    max-height: 666px;
}
@media (min-width: 768px) {
    .fancybox-slide--iframe .fancybox-content{
        max-width: 375px;
        max-height: 666px;
        transform: rotate(-90deg);
    }
    
}